{% extends "base.html" %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Intro to Haystack Search</h1>
        <p>This is a small sample project showing how data is mapped from the ORM to a SearchIndex class as well as optional ways of querying data in the search engine.</p>
        <p>It's set up to deploy to <a href="http://www.heroku.com/">Heroku</a> using the <a href="https://addons.heroku.com/bonsai">Bonsai ElasticSearch add-on</a>, although any similarly configured ElasticSearch backend will work. It is designed loosely around the <a href="https://www.cia.gov/library/publications/the-world-factbook/print/textversion.html">CIA World Factbook</a>. The Factbook content structure is crappier than I expected when I set out to do this, so if you want to help extract content, fixture file pull requests welcome!</p>
        <p><a href="http://github.com/bennylope/ciafactbook" class="btn btn-primary btn-large">See the code &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Countries list</h2>
          <p>Just a basic function based Django list view. Uses a manager method to encapsulate the basic search logic.</p>
          <p><a class="btn" href="{% url 'country_list' %}">Check it out &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Default search</h2>
          <p>Just hooked up the default Haystack search view. The simplest way to add search (<a href="http://django-haystack.readthedocs.org/en/latest/tutorial.html#add-the-searchview-to-your-urlconf">documentation</a>).</p>
          <p><a class="btn" href="{% url 'haystack_search' %}">Check it out &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Customized search</h2>
          <p>Very little customization, but just enough to show how it can be done. Uses an extended SearchForm to add a field and include it for querying.</p>
          <p><a class="btn" href="{% url 'custom_search' %}">Check it out &raquo;</a></p>
        </div>
      </div>

    <div class="row">
        <div class="span4">
          <h2>Faceted search</h2>
          <p>Adds faceting of the facetable 'government type' field.</p>
          <p><a class="btn" href="{% url 'faceted_search' %}">Check it out &raquo;</a></p>
        </div>
    </div>
{% endblock %}
